/* COMMON */

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    background-color: #EEEEEE;
    line-height: 1.2;
}

body {
    position: relative;
    width: 100%;
    min-height: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.active {
    text-decoration: underline;
}

/*
a:visited {
    color: inherit;
}

a:active {
    color: inherit;
}
*/

button:hover {
    cursor: pointer;
}

footer {
    margin-top: 2rem;
}
footer > a {
    display: block;
    color: blue;
}

/* INDEX */

table {
    margin-bottom: 2rem;
}

table, thead, tbody, tr, th, td {
    border-collapse: collapse;
    text-align: left;
    vertical-align:top;
}

table > tbody > tr {
    border-top: 1px solid black;
}

[data-week="False"] {
    opacity: 0.5;
}

@media only screen and (min-width: 768px) {
    table, thead, tbody, tr {
        width: 100%;
    }

    table > * > tr > th, table > * > tr > td {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-right: 0.5rem;
    }

    table > thead > tr > th:first-child {
        width: 10rem;
    }
    table > thead > tr > th:nth-child(2) {
        min-width: 10rem;
    }
}

@media only screen and (max-width: 767px) {
    table, thead, tbody, tr, th, td { 
		display: block; 
        width: 100%;
	}
    tr {
        padding-top: 0.5rem;
        padding-bottom: 1.5rem;
    }
}

.edit {
    color: blue !important;
}

.add {
    color: green;
    font-weight: normal;
}



/* EDIT */

input, button {
    font-family: sans-serif;
    font-size: 1.4rem;
    display: block;
    margin-bottom: 2rem;
    width: 48rem;
    max-width: 100%;
    padding: 0.2rem;
}
